a {
    color: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    @apply underline;
}

header {
    @apply mb-8;
}

button.hover\:bg-gray-100:hover,
a.hover\:bg-gray-100:hover {
    background-color: transparent;
    @apply border-primary-500;
}

.markdown-body a,
.dark .markdown-body a {
    color: inherit !important;
    text-decoration: none !important;
    transition: all ease-out 0.1s;
    box-shadow: inset 0 -2px 0 theme('colors.primary.500');
}

.markdown-body a:hover,
.markdown-body a:focus,
.dark .markdown-body a:hover,
.dark .markdown-body a:focus {
    box-shadow: inset 0 -3px 0 theme('colors.primary.500');
}
